*.env
/timekeeping_system/app/core/__pycache__
/timekeeping_system/app/models/__pycache__
/timekeeping_system/app/routes/__pycache__
/timekeeping_system/app/__pycache__
/timekeeping_system/app/services/__pycache__
/.venv
/timekeeping_system/a2a/agents/full_attendance_agent/__pycache__
*__pycache__
