<!DOCTYPE html>
<html>
<head>
    <title>Tourist Spot Detail</title>
</head>
<body>
    <h2>{{data["name"]}}</h1>
    <form method="POST">
        <div>
            <label for="price">Price for 1d:</label>
            <input type="text" name="price" required value="{{data['price_tour']}}"><br><br>
            <label for="tour_guide_id">Chose tour guide:</label>
            <select name="tour_guide_id" required>
                {% for option in tour_data %}
                    <option {% if data['guide_id'] | string == option['id'] | string %}selected{% endif %} value="{{ option['id'] }}">{{ option["name"] }}</option>
                {% endfor %}
            </select><br><br>
            <textarea style="width: 1024px; height: 200px;" name="description">{{data["description"]}}</textarea>
        </div>
        <div style="clear: both;">
            <button type="submit">Save</button>
        </div>
    </form>
</body>
</html>
