<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to My Flask Web: Famous tourist destinations in VietNam</h1>
    <p>Go to <a href="/hello/Van">say hello</a>.</p>
    <ul>
    {% for item in model %}
        <li>
            <a href="/detail/{{item['_id']}}"><h3><strong>{{ item["name"] }}</strong> - {{ item["sub_title"]}}</h3></a>
            <image src={{ item["image"] }} style="max-width: 1024px;"></image>
            <p> {{ item["description"] }}</p>
        </li>
    {% endfor %}
    </ul>
</body>
</html>
